node_modules
# Keep environment variables out of version control
.env

docker-compose.yml

# Ignore all log files
*.log

# Ignore all migrations files
**prisma/migrations/**

#Ignore all seed files
**prisma/seed.ts
